
/* -- box border animation -- */
.working {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 0 1px #2f2f2f;
}

.anim-panel {
  position: absolute;
}

.anim-panel:nth-child(1),
.anim-panel:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.anim-panel:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
  animation: anim1 3s linear infinite;
}

.anim-panel:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
  animation: anim3 3s linear infinite;
}

.anim-panel:nth-child(2),
.anim-panel:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #ffffff;
}

.anim-panel:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: anim2 3s linear infinite;
}

.anim-panel:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  animation: anim4 3s linear infinite;
}

@keyframes anim1 {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50.1%{
    transform-origin: right;
  }
}

@keyframes anim3 {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
  }
  50.1%{
    transform-origin: left;
  }
}

@keyframes anim2 {
  0% {
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50.1% {
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes anim4 {
  0% {
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  51% {
     transform-origin: top;
  }
  100% {
    transform: scaleY(0);
  }
}

/*--------------------------*/

body {
  padding-left: 5%;
  padding-right: 5%;
  background: #262626; }

form {
	padding: 20px;
  padding-bottom: 1px; }

h1 {
  color: #ffffff; }

p {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center; }

a:hover {
  color: #0069d9;
  text-decoration: none; }

.row-form {
  margin-top: 8%;
margin-bottom: 10px; }

.panel {
  background-color: transparent;
  border-color: transparent; }

.btn {
	border-radius: 0px; }

.form-control {
	border-radius: 0px;
	margin-bottom: 10px;
  border: 1px solid #a7a7a7; }

.form-control:focus {
  border: 1px solid #262626; }
  
.inner {
  margin:0px !important;}


/* -- title LessonsProject animation --*/
.col-title {
  padding: 0px; }

.svg-title {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10px;
}
.anim {
  animation: dash 5s linear forwards;
  stroke: transparent;
  fill: transparent;
  stroke-width: 5;
}

@keyframes dash {
  from {
    stroke: #ffffff;
    stroke-dashoffset: 0;
    stroke-dasharray: 100;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 100;
    stroke-dasharray: 0;
    fill: #ffffff;
  }
}
